body {
  background-color: rgb(202, 198, 198);
}

.box1 {
  box-sizing: border-box;
  float: left;
  width: 45%;
  border: 5px solid white;
  padding: 25px;
}

.box2 {
  box-sizing: border-box;
  float: right;  
  width:  45%;
  border: 5px solid white;
  padding: 25px;
}

h1 {
  font-family: calibri;
  width: 1000px;
  border: 5px solid white;
  padding: 25px;
  margin: 50px;
  text-align: center;
}

#weeknd {
  display: none;
}

#migos {
  display: none;
}

#resetButton {
  text-align: center;
}

#audioPlayer {
  display: none;
}